.App {
  text-align: center;
}

.logo {
  position: absolute;
  margin: 0;
  top: 15px;
  left: 25px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.halve {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  border-radius: 12px;
  min-height: 300px;
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: rgb(252, 252, 255);
}

input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
  width: 250px;
}
