.App {
  text-align: center;
}

button {
  color: white;
  border: none;
  background-color: rgb(105, 184, 184);
  border-radius: 12px;
  padding: 10px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 700;
}

h4 {
  font-weight: 9000;
}

.logo {
  position: absolute;
  margin: 0;
  top: 7px;
  left: 25px;
  color: white;
  text-shadow: 5px 5px 0px rgba(0,0,0,0.2);
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.halve {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
  border-radius: 12px;
  min-height: 300px;
  width: 350px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  background-color: rgb(252, 252, 255);
}

input {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgb(105, 184, 184);
  width: 250px;
  font-family: 'Orbitron', sans-serif;
}

@media (max-width: 800px) {
  .wrapper {
    margin-top: 50px;
  }
  .halve {
    flex-direction: column;
  }
  .logo {
    text-align: center;
  }

  .container {
    min-height: 250px;
  }
}
